<article>
    Participants perform concerts, participate in masterclasses and learn together in a wide range of career-building workshops—all in a remarkable environment of mutual support and positive energy. That way, these talented musicians not only develop their
    artistic imagination and technique, but they also improve their networking and self-management skills as well as career planning strategies.
    <br><br> The idea for the Kaunas Piano Fest originated in Saint-Savin, a small town in western France. Between 2015 and 2017, as young pianists, we took part in the Festival de Piano et Master Classes de Saint-Savin which was organized by a young
    couple - Anna and Philippe Argenty. Inspired by the warmth, generosity, and enthusiasm of this couple’s vision, we were encouraged to create our own festival in Lithuania.
    <br><br> And so we did! While living in three different countries (Darius in Lithuania, Monika in Scotland, Robertas in Germany), we managed to host the first KPF in 2018. That first edition of the festival relied on funding from private trusts, partners
    as well as the incredible generosity of Lithuanian people. These small, but very important acknowledgments, gave us energy and encouragement to move forward and materialize the idea of an international piano festival and masterclasses in our hometown.
    <br><br> In 2023 the festival will celebrate its 6th birthday! During the past five years, we've welcomed 68 pianists from 28 different countries, as well as organized 46 concerts and 25 educational lectures. Many pianists were awarded scholarships
    and engagements to perform solo and with orchestra. Our teachers include world-renowned pianists and music educators as well as experts in other music fields including self-management, performance psychology and music history.
    <br><br> Kaunas Piano Fest has provided a window for us into a world of learning about the culture, audiences, interpersonal skills and much more. It has influenced our personal development as artists by providing opportunities to connect with audiences
    and other musicians in a less formal setting. Our original inspiration is to gather emerging pianists in a mutually supportive atmosphere where they perform concerts, develop their business skills and grow together as a team throughout the festival.
    <br><br> We, as a team, put a lot of thought and heart into the process of creating Kaunas Piano Fest, and this makes it truly ours. It has also been immensely rewarding to find ourselves in the surprising position of being able to provide performing
    and developing opportunities for other young pianist-colleagues who are like us at the beginning of their professional careers.
</article>
<style>
    article {
        font-family: 'NeueMontreal', sans-serif;
        color: #1C1D20;
        line-height: 1.6;
        font-weight: 450;
        font-style: normal;
        font-size: 16px;
        font-size: clamp(16px, 1.2vw, 19px);
    }
    
     ::-webkit-scrollbar {
        -webkit-appearance: none;
        width: 7px;
        left: 50px;
        position: absolute;
        display: block;
    }
    
     ::-webkit-scrollbar-thumb {
        border-radius: 2px;
        background-color: rgb(237, 214, 89);
        box-shadow: 0 0 1px rgba(255, 255, 255, .5);
    }
    
     ::-webkit-scrollbar-track {
        background: linear-gradient(to right, white 40%, #E9EAEB 50%, white 60%, white 100%);
    }
</style>