<article>
    Festivalio dalyviai koncertuoja, dalyvauja meistriškumo pamokose ir kartu mokosi įvairiuose karjeros valdymo seminaruose. „Kaunas Piano Fest“ metu talentingi muzikantai lavina ne tik savo meninę vaizduotę ir techniką, bet ir tobulina bendravimo, savivadybos
    įgūdžius bei karjeros planavimo strategijas.
    <br><br> „Kaunas Piano Fest“ idėja gimė mažame Saint-Savin miestelyje vakarų Prancūzijoje, kur 2015 - 2017 metais dalyvavome pianistų festivalyje „Festival de Piano et Master Classes de Saint Savin“. Įkvėpti festivalio organizatorių Annos ir Philippe
    Argenty vizijos bei entuziazmo, buvome paskatinti surengti savo festivalį Lietuvoje.
    <br><br> Gyvendami trijose skirtingose ​​šalyse (Darius - Lietuvoje, Monika - Škotijoje, Robertas - Vokietijoje), suorganizavome pirmąjį KPF dar 2018 m. Pirmasis festivalis įvyko tik mūsų kolegų pianistų, privačių rėmėjų bei partnerių dėka. Šie maži,
    tačiau labai svarbūs įvertinimai, mums suteikė energijos ir padrąsinimo judėti pirmyn ir toliau auginti tarptautinio fortepijono festivalio ir meistriškumo kursų idėją.
    <br><br> Šiais metais festivalis švenčia jau 5-ąjį gimtadienį! Per pastaruosius ketverius metus į Kauną pakvietėme 60 pianistų iš 26 skirtingų pasaulio šalių, taip pat surengėme 37 nemokamus koncertus ir 21 edukacinę paskaitą. Daugybei pianistų skyrėme
    stipendijas, bei suorganizavome jų solo pasirodymus Kaune ir Glazge. Festivalio laureatai koncertavo kaip solistai su Kauno miesto simfoniniu orkestru. Mūsų festivalio dėstytojai - visame pasaulyje pripažinti pianistai, muzikos pedagogai ir kitų muzikos
    sričių ekspertai.
    <br><br> Kaunas Piano Fest mums suteikia galimybę geriau susipažinti su klasikinės muzikos kultūra ir užmegzti glaudesnius ryšius su klausytojais ir kitais muzikantais visame pasaulyje. Labai džiaugiamės, kad galime suteikti pasirodymo ir tobulėjimo
    galimybes kitiems jauniems pianistams, kurie, kaip ir mes, yra savo profesinės karjeros pradžioje.
</article>
<style>
    article {
        font-family: 'NeueMontreal', sans-serif;
        color: #1C1D20;
        line-height: 1.6;
        font-weight: 450;
        font-style: normal;
        font-size: 16px;
        font-size: clamp(16px, 1.2vw, 19px);
    }
    
     ::-webkit-scrollbar {
        -webkit-appearance: none;
        width: 7px;
        left: 50px;
        position: absolute;
        display: block;
    }
    
     ::-webkit-scrollbar-thumb {
        border-radius: 2px;
        background-color: rgb(237, 214, 89);
        box-shadow: 0 0 1px rgba(255, 255, 255, .5);
    }
    
     ::-webkit-scrollbar-track {
        background: linear-gradient(to right, white 40%, #E9EAEB 50%, white 60%, white 100%);
    }
</style>