/* ------------------------- apply - Header -------------------------------------------------- */

.apply-header {
    background: var(--color-white);
    z-index: 10;
    padding-bottom: calc(var(--section-padding)/2);
}

#apply .nav-bar {
    background: var(--color-dark);
}

#apply .apply-header h1 {
    margin-bottom: 0.5em;
}

#apply .apply-header h2 {
    color: var(--color-gray);
    margin-bottom: 0.2em;
}

#apply .apply-header ul.intro-points li>*:first-child::before {
    padding-right: 10px;
    content: "\01C0";
    color: var(--color-blue);
}


/* ------------------------- apply - Stripe + Globe -------------------------------------------------- */

#apply .line-globe .stripe {
    background-color: var(--color-lightgray);
}

#apply .line-globe {
    padding-top: calc(var(--section-padding)/16);
    padding-bottom: calc(var(--section-padding)/4);
}

.line-globe {
    overflow: visible;
    z-index: 10;
}

@keyframes digitalball {
    0% {
        background: var(--color-blue);
    }
    100% {
        background: var(--color-dark);
    }
}

.digital-ball {
    width: clamp(9em, 12vw, 11em);
    height: clamp(9em, 12vw, 11em);
    background: var(--color-dark);
    border-radius: 50%;
    top: 0;
    right: 0;
    transform: translate(-50%, -50%);
    position: absolute;
    overflow: hidden;
    background: var(--color-blue);
}

.digital-ball .overlay {
    opacity: 0;
    transition: var(--animation-fast);
    background: var(--color-dark);
}

.line-globe .digital-ball:hover .overlay {
    opacity: 1;
}

.line-globe .digital-ball:hover .globe-wrap svg {
    fill: var(--color-white);
}

.globe-wrap {
    background-color: var(--color-dark);
    transition: var(--animation-very-fast);
    -webkit-mask: url('/assets/img/icon-form.svg') no-repeat center;
    mask: url('/assets/img/icon-form.svg') no-repeat center;
}

.digital-ball:hover .globe-wrap {
    background-color: var(--color-white);
}

@keyframes globeBounce {
    0% {
        transform: translate(-50%, -40%);
    }
    50% {
        transform: translate(-50%, -60%);
    }
    100% {
        transform: translate(-50%, -40%);
    }
}

.globe {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 3em;
    height: 3em;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    overflow: visible;
    will-change: transform;
    z-index: 11000;
}

.globe-wrap {
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    position: absolute;
    display: block;
    border-radius: 0;
    transform: translate(-50%, -50%) rotate(0deg);
    overflow: visible;
}

.globe-wrap svg {
    transition: var(--animation-fast);
}

.globe .circle {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    box-shadow: inset .1em 0px 0px .08em var(--color-white);
    animation: circle1 2.7s linear infinite;
    font-size: .75em;
}

.globe .circle-hor {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 150%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    height: 55%;
    box-shadow: inset 0px 0px 0px .15em var(--color-white);
    font-size: .75em;
}

.globe .circle-hor-middle {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 150%;
    transform: translate(-50%, -50%);
    border-radius: 0%;
    height: .15em;
    background: var(--color-white);
    font-size: .75em;
}

@media screen and (max-width: 1000px) {
    .digital-ball {
        transform: translate(-20%, -50%);
    }
}


/* ------------------------- About - Image -------------------------------------------------- */

.apply-image {
    padding-top: calc(var(--section-padding)/2);
    padding-bottom: calc(var(--section-padding)/2);
    background: var(--color-white);
}

.apply-image .bottom-lightgray {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: var(--section-padding);
    left: 0;
    background: var(--color-lightgray);
    height: 10vw;
    display: none;
}

.apply-image .row:nth-child(1) {
    padding-bottom: calc(var(--section-padding)/4);
}

.apply-image .row:nth-child(1) .flex-col:nth-child(1) {
    width: 100%;
}

.apply-image .flex-col:nth-child(1) {
    width: 45%;
    padding-left: var(--container-padding);
    padding-right: calc(var(--container-padding) / 2);
}

.apply-image .flex-col:nth-child(1) p {
    margin-top: -.33em;
    display: block;
    will-change: transform;
}

.apply-image .flex-col:nth-child(1) .arrow {
    position: absolute;
    left: 0;
    top: 40%;
    transform: rotate(-45deg);
    will-change: transform;
}

.apply-image .flex-col:nth-child(1) .arrow svg g {
    stroke: var(--color-dark);
}

.apply-image .flex-col:nth-child(2) {
    width: 55%;
}

.apply-image .social-icon {
    justify-content: flex-start;
}

.apply-image .social-icon:nth-child(-n+2) {
    border-bottom: 1px solid var(--color-lightgray);
}

.apply-image .onpage-social-icons-wrapper .row {
    padding: 0;
    align-items: center;
}

.apply-image .onpage-social-icons-wrapper .flex-col {
    width: 100%;
}

.apply-image .onpage-social-icons-wrapper .flex-col {
    padding: 0 calc(var(--container-padding)/4);
}

.apply-image .social-media-link:nth-child(-n+2) {
    border-bottom: 1px solid var(--color-lightgray);
}

.apply-image .onpage-social-icons-wrapper p {
    color: var(--color-text);
    transition: var(--animation-very-fast);
}

.apply-image .onpage-social-icons-wrapper p strong {
    font-weight: 600;
    letter-spacing: 0.02em;
    border-bottom: 2px solid var(--color-blue);
}

.apply-image .onpage-social-icons-wrapper .social-icon-label {
    padding: calc(var(--container-padding)/4) 0;
}

.apply-image .social-title {
    color: var(--color-text);
    transition: var(--animation-very-fast);
}

.apply-image .social-icon:hover .social-title {
    color: var(--color-blue);
}

.single-apply-image {
    width: 100%;
    display: block;
    background: var(--color-blue);
    overflow: hidden;
    position: relative;
}

.single-apply-image::before {
    content: "";
    display: block;
    padding-top: 135%;
}

.single-apply-image .overlay:nth-child(1) {
    background: var(--color-blue);
    background-size: cover;
    top: -20vh;
    height: 90%;
}

.single-apply-image .overlay:nth-child(2) {
    background: var(--color-blue);
    display: none;
}

@media screen and (max-width: 840px) {
    .apply-image .flex-col:nth-child(1) {
        width: 45%;
        padding-right: calc(var(--container-padding) / 1);
    }
    .apply-image .flex-col:nth-child(2) {
        width: 55%;
    }
    .single-apply-image::before {
        padding-top: 125%;
    }
}

@media screen and (max-width: 840px) {
    .apply-image {
        padding-top: calc(var(--section-padding) * .85);
    }
    .apply-image .flex-col:nth-child(1) {
        width: unset;
        padding: 0;
        margin-left: calc(var(--container-padding) / 1);
        padding-right: calc(var(--container-padding) / 1);
        padding-top: calc(var(--section-padding) / 4);
        width: 100%;
    }
    .apply-image .flex-col:nth-child(1) p {
        max-width: 100%;
    }
    .apply-image .flex-col:nth-child(2) {
        padding-top: calc(var(--section-padding) / 1.15);
        width: 100%;
    }
    .apply-image .flex-col:nth-child(1) .arrow {
        top: calc(var(--section-padding) / -4);
        transform: rotate(0deg) translateY(-50%);
    }
    .apply-image .bottom-lightgray {
        position: absolute;
        bottom: 0;
        width: 100%;
        height: var(--section-padding);
        left: 0;
        background: var(--color-lightgray);
        height: 60vw;
        display: block;
    }
}

main.touch .bottom-lightgray {
    display: none;
}

@media screen and (max-width: 540px) {
    .single-apply-image::before {
        padding-top: 125%;
        padding-top: 140%;
    }
    .single-apply-image .overlay:nth-child(1) {
        width: 130%;
        left: -30%;
        width: 100%;
        left: 0;
        top: -18%;
        height: 120%;
    }
    .apply-image .flex-col:nth-child(1) {
        margin-left: 0;
        padding-right: 0;
    }
    .apply-image .flex-col:nth-child(2) {
        padding-top: calc(var(--section-padding) * .5);
    }
}


/* ------------------------- Apply - Intro -------------------------------------------------- */

.apply-intro {
    padding-top: calc(var(--section-padding)/2);
    padding-bottom: calc(var(--section-padding)/2);
    background: var(--color-white);
    margin-top: -1px;
}

.apply-intro .row:nth-child(1) {
    padding-bottom: calc(var(--section-padding) / 4);
}

.apply-intro .row:nth-child(2) {
    width: calc(100% + calc(var(--container-padding) / 1.5));
    margin-left: calc(var(--container-padding) / -1.5);
}

.apply-intro .row:nth-child(2) .flex-col {
    width: 50%;
    padding-left: calc(var(--container-padding) / 1.5);
}

.apply-intro .row:nth-child(2) .flex-col h5:nth-child(1) {
    padding-bottom: 2em;
}

.apply-intro .row:nth-child(2) .flex-col h5 {
    margin: 0;
    font-size: .8em;
}

.apply-intro .row:nth-child(2) .flex-col h4 {
    margin: 0;
}

.apply-intro .row:nth-child(2) .flex-col .stripe {
    margin-bottom: 2em;
}

.apply-intro li {
    margin: calc(var(--container-padding)/4) 0;
}

.apply-intro li::before {
    padding-right: 12px;
    margin-left: -20px;
    content: "\01C0";
    color: var(--color-blue-dark);
}

.apply-intro a {
    color: var(--color-dark);
    border-bottom: 2px solid var(--color-blue-dark);
    transition: var(--animation-very-fast);
}

.apply-intro a:hover {
    opacity: 0.5;
}

.apply-intro .row:nth-child(2) .btn-container {
    display: flex;
    flex-wrap: wrap;
}

.apply-intro .row:nth-child(2) .btn {
    margin-right: 0.5em;
}

.apply-intro .btn-click {
    transition: var(--animation-very-fast);
}

.apply-intro .btn-click:hover {
    box-shadow: inset 0px 0px 0px 1px var(--color-blue);
}

.apply-intro .row:nth-child(2) .flex-col svg path {
    fill: var(--color-dark);
}

.apply-intro .row:nth-child(2) .flex-col p:nth-child(4) {
    padding-top: 2em;
    padding-bottom: 1em;
}

.apply-intro .row:nth-child(1) h2 span {
    color: var(--color-blue);
    font-family: sans-serif;
}

@media screen and (max-width: 720px) {
    .apply-intro {
        padding-top: calc(var(--section-padding) * 1);
    }
    .apply-intro .row:nth-child(2) {
        width: 100%;
        margin-left: 0;
    }
    .apply-intro .row:nth-child(2) .flex-col h5:nth-child(1) {
        display: none;
    }
    .apply-intro .row:nth-child(2) .flex-col {
        width: 100%;
        padding-left: 0;
        padding-bottom: calc(var(--section-padding) * .5);
    }
    .apply-intro .row:nth-child(2) .flex-col:last-child {
        padding-bottom: 0;
    }
    .apply-intro .row:nth-child(2) .flex-col .stripe {
        margin-bottom: calc(var(--section-padding) * .5);
    }
    .apply-intro .row:nth-child(2) .flex-col p:nth-child(4) {
        padding-top: calc(var(--gap-padding) * .5);
    }
}


/* ------------------------- apply - Divider ---------------------------------------------------- */


/* ------------------------- apply - Requirements -------------------------------------------------- */

.apply-requirements {
    padding-top: calc(var(--section-padding)/2);
    padding-bottom: calc(var(--section-padding)/2);
}

.apply-requirements .row:nth-child(1) {
    padding-bottom: calc(var(--section-padding) / 4);
}

.apply-requirements .flex-col {
    width: 100%;
}

.apply-requirements .onpage-social-icons-wrapper .flex-col:nth-child(1) {
    width: 30%;
}

.apply-requirements .onpage-social-icons-wrapper .flex-col:nth-child(2) {
    width: 70%;
}

.apply-requirements .onpage-social-icons-wrapper .row {
    padding: calc(var(--container-padding)/4) 0;
    align-items: center;
}

.apply-requirements .onpage-social-icons-wrapper .row:last-child {
    padding-bottom: 0;
}

.apply-requirements .social-media-link:nth-child(-n+2) {
    border-bottom: 1px solid var(--color-lightgray);
}

.apply-requirements .onpage-social-icons-wrapper .social-icon {
    transform: scale(1.5);
}


/* ------------------------- apply - register -------------------------------------------------- */

.apply-register {
    padding-top: calc(var(--section-padding)/2);
    padding-bottom: calc(var(--section-padding)/2);
}

.apply-register .row:nth-child(1) {
    padding-bottom: calc(var(--section-padding) / 4);
}

.apply-register .row:last-child {
    justify-content: center;
    padding-top: calc(var(--container-padding)/4);
}

.apply-register .flex-col {
    width: 100%;
}

.apply-register .onpage-social-icons-wrapper .flex-col:nth-child(1) {
    width: 50%;
    padding: calc(var(--container-padding)/4);
}

.apply-register .onpage-social-icons-wrapper .flex-col:nth-child(2) {
    width: 50%;
}

.apply-register .onpage-social-icons-wrapper .row {
    padding: calc(var(--container-padding)/4) 0;
    align-items: center;
}

.apply-register .onpage-social-icons-wrapper .social-media-link .flex-col {
    padding: 0 calc(var(--container-padding)/4);
}

.apply-register .social-media-link:nth-child(-n+3) {
    border-bottom: 1px solid var(--color-dark);
}

.apply-register .social-media-link span {
    color: var(--color-gray);
    font-size: clamp(0.7em, 1.5vw, 2.5em);
}

.apply-register .onpage-social-icons-wrapper .social-icon {
    transform: scale(1.5);
}

.apply-register .btn-click span {
    color: var(--color-dark) !important;
}

@media screen and (max-width: 720px) {
    .apply-register {
        padding-top: calc(var(--section-padding) / 1.5);
    }
    .apply-register .flex-col:nth-child(1) {
        width: 100%;
        padding-right: 0;
    }
    .apply-register .flex-col:nth-child(2) {
        width: 100%;
        padding-left: 0;
        padding-bottom: calc(var(--section-padding) / 2);
        order: 1;
    }
    .apply-register .single-image::before {
        padding-top: 125%;
    }
    .apply-register .single-image .overlay:nth-child(1) {
        background: url("../img/DSC07079.jpg") center center no-repeat;
        background-size: cover;
        top: -8%;
        height: 110%;
        width: 150%;
        left: -50%;
    }
}